__pycache__/
*.pyc
.DS_Store
node_modules/
pnpm-lock.yaml
package-lock.json
frontend/**/node_modules/
frontend/**/dist/
.env.development
.env.production
.env.production.enc
.poetry*
.venv/
.pytest_cache/
htmlcov/
